body{
    padding: 0px;
    margin: 0px;
   background-color: #20242d ;
}
@font-face{
    font-family:shishir ;
    src: url('fonts/Nunito-VariableFont_wght.ttf');
}
*{
    padding: 0px;
    margin: 0px;
}
.header{
overflow: hidden;
}
.mid{
    width: 80%;
    margin: auto;
}
.left{
    width: 30%;
    float: left;
}
.left h2{
    color: #0eb9cb;
    margin-top: 22px;
}
.right{
    width: 70%;
    float: left;
    text-align: right;
}
.right ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 0px;
    margin: 0px 10px;
    
}
.right ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family:tahoma;
}
.right ul li a:hover {
color: #0eb9cb;
text-shadow:0px 0px 15px #0eb9cb ;
}
.com{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 200px ;
    background-color: red;
}
.container{
    width:350px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
padding: 30px 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 25px 3px #20242d;

  
    background-color:#0eb9cb;
}
.container:hover {
    box-shadow: 0 0 25px 3px #0eb9cb;
}
input{
    width:350px;
    height: 35px;
    display: flex;
    margin: 10px 0px;
    border-radius: 7px;
    
    border-color: transparent;
    text-shadow:0px 0px 15px #0eb9cb ;
  
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
textarea {
    width:350px;
    height:150px;
    box-shadow: 0 0 15px 3px #48abe0;
    display: flex;
    margin: 5px 0px;
    border-radius:10px;
   
  
   

}
button{
    margin-left: 10px;
    padding: 0px 0px;
    width:330px;
    height: 33px;
    border-radius: 7px;
    border-color: transparent;
    background-color: #14cb0e;
    margin: 5px 9px;
   


}
button:hover {
    box-shadow: 0 0 15px 3px #48abe0;
 
}
input:focus{
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 25px 3px #0eb9cb;
}

.bb{
    width: 200px;
    height: 20px;
    margin:10px 0px;
    display: block;
    margin: auto;

    color: #fff;
    text-align: center;
}

